// mai intii facem import la toate din base
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "base/colors";
@import "base/variables";
@import "base/reset";
@import "base/typography";
@import "base/mixins";

// apoi la toate din layout
@import "layout/grid";
@import "layout/section";

// apoi la toate din (vendor)

// apoi la toate din components
@import "components/background-box";
@import "components/blocks";
@import "components/flex-boxes";
@import "components/fonts";
@import "components/responisve-box";
@import "components/filters.scss";
@import "components/gradients.scss";
// si asa mai departe - toate componentele


body {
  background-color: $brand-secondary;
  color: $brand-primary
}

a {
  color: $brand-primary;
}

select {
  appearance: none;
  font-size: 14px;
}

