.responsive-box {
  width: 400px;
  height: 400px;
}

.responsive-box--1 {
  color: black;
}

.responsive-box--2 {
  color: black;
}

.responsive-box--3 {
  color: black;
}

.responsive-box--4 {
  color: black;
}

.responsive-box--5 {
  color: black;
}

.responsive-box--6 {
  color: black;
}

.responsive-box--7 {
  color: black;
}
